mat-icon {
    color: #8c8c8c;
    font-size: 20px;
}

.mat-icon {
    font-size: 25px;
}

.card-inputs {
    background: transparent;
    border: none;
    font: normal 16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    outline: none;
    width: 170px;
    margin-top: -36px;
}

.card-input1 {
    background: transparent;
    border: none;
    font: normal 12px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    outline: none;
    width: 170px;
}

.note-icons {
    font-size: 18px;
    cursor: pointer;
}

.all-notes {
    display: block;
    margin-top: 15px;
    width: 240px;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border-color: #e0e0e0
}
.all-notes:hover{
    box-shadow: 1px 1px 5px grey;
}
.display-note {
    width: 807px;
    height: max-content;
    outline: none;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
    border-style: groove;
    border-width: 1px;
    border-color: #e0e0e0;
}

.palette {
    width: 180px;
    padding: 8px;
}

#tool-section {
    margin-inline-start: -49px;
}

.pin {
    font-size: 25px;
    cursor: pointer;
    margin-left: 180px;
}
.label{
    color: #5f6368;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    margin: 32px 32px 8px;
}
.drawer-content {
    margin-block-start: 60px;
}