<div class="div">
    <form class="example-form" [formGroup]="newForm" (ngSubmit)="Submit()">
        <mat-label class="Register">Registration</mat-label>

        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="First Name" formControlName="firstName" 
                required>
            <mat-error *ngIf="check.firstName.errors">
                <mat-error *ngIf="check.firstName.errors.required">First name is required</mat-error>
                <mat-error *ngIf="check.firstName.errors.pattern">Required valid first name</mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Last Name" formControlName="lastName" 
                required>
            <mat-error *ngIf="check.lastName.errors">
                <mat-error *ngIf="check.lastName.errors.required">Last name is required</mat-error>
                <mat-error *ngIf="check.lastName.errors.pattern">Required valid last name</mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile Number" formControlName="mobileNum" maxlength="10"
                required>
            <mat-error *ngIf="check.mobileNum.errors">
                <mat-error *ngIf="check.mobileNum.errors.required">Mobile number is required</mat-error>
                <mat-error *ngIf="check.mobileNum.errors.pattern"> Require Valid mobile number</mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="emailId"
                [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="check.emailId.errors">
                <mat-error *ngIf="check.emailId.errors.required">Email Id is required</mat-error>
                <mat-error *ngIf="check.emailId.errors.pattern">Require valid email address</mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                formControlName="password" required>
            <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="check.password.errors">
                <mat-error *ngIf="check.password.errors.required">Password is required</mat-error>
                <mat-error *ngIf="check.password.errors.minlength">Password should be legnth of 8</mat-error>
            </mat-error>
        </mat-form-field>
        <br>
        <div class="b1">
            <button type="submit" class="button buttons" [disabled]="!newForm.valid">Submit</button>
            <button type="reset" class="button buttons">Reset</button>
        </div>
    </form>
</div>