<form class="example-form" [formGroup]="newForm" (ngSubmit)="Submit()">
  <mat-label  class="Register">Registration</mat-label>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="First Name" formControlName="firstName" required>
      <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="lastName.invalid">{{getErrorMessage1()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="number"matInput #input maxlength="10"  #input minlength="10"  placeholder="Mobile Number"
                      formControlName="mobileNum" required>
        <mat-error *ngIf="mobileNum.invalid">{{getErrorMessage2()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="Email-Id" formControlName="emailId" required>
          <mat-error *ngIf="emailId.invalid">{{getErrorMessage3()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" >
                <input type="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required> 
                <mat-icon mat-icon-button matSuffix (click)="hide = !hide" 
                 [attr.aria-label]="'Hide password'" 
                 [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                 <mat-error *ngIf="password.invalid">{{getErrorMessage4()}}</mat-error>
          </mat-form-field>
          <div class="b1">
          <button type="submit" class="button buttons">Submit</button>   
          <button type="reset" class="button buttons" >Reset</button> 
        </div>   
  </form>
  