<form class="example-form" [formGroup]="forgot" (ngSubmit)="resend()" style="text-align: center">
    <b><mat-label style="color: grey;font-size: 20px">Forgot your password?</mat-label></b>
    <p style="font-size: 13px">Don't worry! Resetting your password is easy.Just type in the email you registered to Bridgelabz.</p>
   
    <mat-form-field class="example-full-width">
      <input type="email" matInput placeholder="Email-Id" formControlName="emailId" required>
      <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
       
     <div class="b1">
      <button type="submit" class="button buttons">Send</button>  
     </div>   
       
    </form>
    