<div>
    <mat-toolbar class="toolbar" fxLayout="row">
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <div fxLayout="row" fxLayoutAlign="start center" class="logo" fxLayoutGap="5px" fxShow="true"
            fxHide.lt-md="true">
            <span><img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"></span>
            <span class="keep">Fundoo Notes</span>
        </div>
        <div class="fx1">
            <form [formGroup]="searchNote" (ngSubmit)="search()">
                <div class="searchs" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-icon-button matTooltip="Search" matTooltipClass="tooltip" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>

                    <input class="search" aria-label=" background-color: #fff; border-color: #e0e0e0 Search"
                        placeholder="Search" type="text" aria-hidden="false" matInput formControlName="title" (keyup)="search()" fxFlex>
                    <button (click)="searchSection=1" mat-icon-button type="reset" matTooltip="Clear search">
                        <mat-icon>close</mat-icon>
                    </button>

                </div>
            </form>
        </div>
        <div style="width: 150px" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
            <button mat-icon-button matTooltip="Refresh">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button matTooltip="View" fxHide.lt-md="true">
                <mat-icon mat-icon-button matSuffix (click)="list = !list" [attr.aria-pressed]="hide">
                    {{list ? 'view_agenda' : 'grid_view'}}</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Settings">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
        <div class="fx" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
            <button mat-icon-button matTooltip="Apps" fxHide.lt-md="true">
                <mat-icon>apps</mat-icon>
            </button>
            <img src="{{profile[3]}}" class="avatar" matTooltip="Google Account" mat-button [matMenuTriggerFor]="menu">

            <mat-menu #menu="matMenu">
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div>
                            <img src="{{profile[3]}}" class="avatar1" matTooltip="Change" mat-button
                                [matMenuTriggerFor]="menu" />
                        </div>

                        <div class="profile">
                            <span class="name"><b>{{profile[1]}} {{profile[2]}}</b></span><br>
                            <span class="email">{{profile[0]}}</span>
                            <br>
                            <br>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        <input matTooltip="Upload Profile Photo" type="file" name="image"
                            (change)="onSubmit($event.target.files[0])" accept="image/*" value="Upload"
                            disabledplaceholder="upload">
                    </form>
                </div>
                <mat-divider></mat-divider>
                <br>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="90px">
                    <button class="button" routerLink="/login">Add Account</button>
                    <button matTooltip="Logout" (click)="logout()" class="button">Logout</button>
                </div>
            </mat-menu>

        </div>

    </mat-toolbar>
    <div>
        <mat-drawer-container class="main-container" fxLayout="column">
            <mat-drawer #sidenav mode="side" class="sider">
                <div class="menu-item">
                    <button (click)="searchSection=1" mat-button class="nav-button">
                        <mat-icon (click)="searchSection=1" class="drawer">lightbulb_outline</mat-icon>
                        Notes
                    </button>
                </div>
                <div class="menu-item">
                    <button mat-button  class="nav-button">
                        <mat-icon class="drawer">notifications_none</mat-icon>
                        Reminder
                    </button>
                </div>
                <mat-divider></mat-divider>
                <div class="menu-item">
                    <label class="labels">LABELS</label>
                    <div *ngFor="let label of labels">
                        <button mat-button class="nav-button">
                            <mat-icon class="drawers">label</mat-icon>{{label.labelName}}
                        </button>

                    </div>
                    <br>
                    <button mat-button (click)="deleteLabel()" class="nav-button">
                        <mat-icon class="drawer">colorize</mat-icon>
                        Edit Labels
                    </button>
                </div>
                <mat-divider></mat-divider>
                <div class="menu-item">
                    <button mat-button  (click)="searchSection=3" class="nav-button">
                        <mat-icon class="drawer">archive_none</mat-icon>
                        Archive
                    </button>
                </div>
                <div class="menu-item">
                    <button mat-button  class="nav-button" (click)="searchSection=4">
                        <mat-icon class="drawer">delete_outline</mat-icon>
                        Trash
                    </button>
                </div>
            </mat-drawer>
            <mat-drawer-content *ngIf="searchSection==1" class="drawer-content" fxLayoutAlign="start center"
                fxLayout="column">
                <br>
                <mat-card class="card" *ngIf="popup==1" fxLayout="row">
                    <a type="button" (click)="popup=2"> <input type="text" class="card-input"
                            fxLayoutAlign="start center" placeholder="Take a note..."></a>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-icon-button matTooltip="New list">
                            <mat-icon>check_box</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="New note with drawing">
                            <mat-icon>brush</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="New note with image">
                            <mat-icon>crop_original</mat-icon>
                        </button>
                    </div>
                </mat-card>

                <mat-card class="card1" *ngIf="popup==2" fxLayout="column" fxLayoutGap="8px">
                    <form [formGroup]="create">
                        <div fxLayout="row">
                            <textarea class="card-input" style="width: 492px;" role="textbox" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" placeholder="Title" formControlName="title"></textarea>
                            <button mat-icon-button matTooltip="Pin note">
                                <mat-icon>attachment</mat-icon>
                            </button>
                        </div>
                        <div fxLayout="row">
                            <textarea class="card-input1" style="width: 492px;" role="textbox" role="textbox"
                                cdkTextareaAutosize #autosize="cdkTextareaAutosize" placeholder="Take a note..."
                                formControlName="description" autofocus></textarea>
                        </div>
                        <div fxLayout="row">
                            <button mat-icon-button matTooltip="Remind me" (click)="reminder()">
                                <mat-icon class="note-icon">add_alert</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Collaborator">
                                <mat-icon class="note-icon">person_add</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Change color">
                                <mat-icon class="note-icon">color_lens</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Add image">
                                <mat-icon class="note-icon">crop_original</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Archieve">
                                <mat-icon class="note-icon">archive_none</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="More">
                                <mat-icon class="note-icon">more_vert</mat-icon>
                            </button>

                            <button mat-icon-button type="submit" (click)="createNote()">Close</button>
                        </div>
                    </form>
                </mat-card>

                <br>
                <app-pinned></app-pinned>
                <mat-card class="display-note" fxLayoutAlign="start center" fxLayout="row wrap" fxLayoutGap="15px">

                    <div class="all-notes" *ngFor="let myNote of notes" fxLayout="column" fxLayoutGap="15px"
                        [ngStyle]="{'background':myNote.color}">
                        <mat-icon mat-icon-button matSuffix (click)="bookmark = !bookmark" class="pin"
                        [attr.aria-pressed]="hide" matTooltip="Pin"  (click)="pinNote(myNote.noteid)">
                        {{bookmark ? 'bookmark' : 'bookmark_outline'}}</mat-icon>
                        <div (click)="openDialog(myNote)" fxLayout="column" >
                            <div fxLayout="row">
                                <div class="card-inputs" style=" word-wrap: break-word;">{{myNote.title}}</div>
                                
                            </div>
                            <div class="card-input1" style=" word-wrap: break-word;">{{myNote.description}}</div>

                        </div>

                        <div id="tool-section" fxLayout="row" fxLayoutGap="20px">
                            <mat-menu #palette="matMenu">
                                <div class="palette" fxLayout="row wrap" fxLayoutGap="8px">
                                    <div (click)="color(i,myNote.noteid)" *ngFor="let i of colorCodes" class="circle"
                                        [ngStyle]="{'background':i}">

                                    </div>
                                </div>
                            </mat-menu>
                            <mat-menu #calender="matMenu">
                                <form [formGroup]="remindMe">
                                    <mat-form-field>
                                        <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                                            placeholder="Date Time" formControlName="dateTime">
                                        <owl-date-time #dt1></owl-date-time>
                                    </mat-form-field>
                                    <button mat-button type="submit" (click)="reminder(myNote.noteid)">Done</button>
                                </form>
                            </mat-menu>

                            <mat-icon matTooltip="Remind me" class="note-icons" [matMenuTriggerFor]="calender">
                                add_alert</mat-icon>


                            <mat-icon matTooltip="Collaborator" class="note-icons"
                                (click)="addCollaborator(myNote.noteid)">person_add</mat-icon>

                            <mat-icon matTooltip="Change color" class="note-icons" [matMenuTriggerFor]="palette">
                                color_lens</mat-icon>


                            <mat-icon matTooltip="Add image" class="note-icons">crop_original</mat-icon>
                            <mat-icon matTooltip="Archieve" class="note-icons" (click)="archiveNote(myNote.noteid)">archive_none</mat-icon>
                            <mat-icon matTooltip="More" mat-button [matMenuTriggerFor]="menu" class="note-icons">
                                more_vert</mat-icon>
                            <mat-menu #menu="matMenu" class="matMenu">
                                <button mat-menu-item (click)="trashNote(myNote.noteid)">Delete note</button>
                                <button mat-menu-item (click)="addLabel(myNote.noteid)">Add Label</button>
                            </mat-menu>
                        </div>
                    </div>
                </mat-card>
            </mat-drawer-content>

            <mat-drawer-content *ngIf="searchSection==2" class="drawer-content" fxLayoutAlign="start center"
                fxLayout="column">
                <mat-card class="display-note" fxLayoutAlign="center center" fxLayout="row wrap" fxLayoutGap="15px">
                    <div class="all-notes" *ngFor="let myNote of searchedNotes" fxLayout="column" fxLayoutGap="15px"
                        [ngStyle]="{'background':myNote.color}">
                        <div (click)="openDialog(myNote)" fxLayout="column" fxLayoutGap="15px">
                            <div class="card-input" style=" word-wrap: break-word;">{{myNote.title}} </div>
                            <div class="card-input1" style=" word-wrap: break-word;">{{myNote.description}}</div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px">
                            <mat-icon matTooltip="Remind me" class="note-icons">
                                add_alert</mat-icon>
                            <mat-icon matTooltip="Collaborator" class="note-icons">person_add</mat-icon>
                            <div>
                                <mat-icon matTooltip="Change color" class="note-icons" [matMenuTriggerFor]="palette">
                                    color_lens</mat-icon>
                                <mat-menu #palette="matMenu">
                                    <div class="palette" fxLayout="row wrap" fxLayoutGap="8px">
                                        <div (click)="color(i,myNote.noteid)" *ngFor="let i of colorCodes"
                                            class="circle" [ngStyle]="{'background':i}">
                                        </div>
                                    </div>
                                </mat-menu>
                            </div>
                            <mat-icon matTooltip="Add image" class="note-icons">crop_original</mat-icon>
                            <mat-icon matTooltip="Archieve" class="note-icons" (click)="archiveNote(myNote.noteid)">archive_none</mat-icon>
                            <mat-icon matTooltip="More" mat-button [matMenuTriggerFor]="menu" class="note-icons">
                                more_vert</mat-icon>
                            <mat-menu #menu="matMenu" class="matMenu">
                                <button mat-menu-item (click)="trashNote(myNote.noteid)">Delete note</button>
                                <button mat-menu-item (click)="openDialog1(myNote.noteid)">Add Label</button>
                            </mat-menu>
                        </div>
                    </div>
                </mat-card>
            </mat-drawer-content>
            <mat-drawer-content *ngIf="searchSection==3" class="drawer-content" fxLayoutAlign="start center"
            fxLayout="column">
        <app-archieve></app-archieve>
        </mat-drawer-content>
        <mat-drawer-content *ngIf="searchSection==4" class="drawer-content" fxLayoutAlign="start center"
            fxLayout="column">
            <app-trash-note></app-trash-note>
        </mat-drawer-content>
      
        </mat-drawer-container>
    </div>
</div>